/* start custom scss snippet */

.root[data-is-touch="false"] a:hover {
    text-decoration: none;
}

.root[data-is-touch="false"] a > .item__header:hover, .root[data-is-touch="false"] a.item__header:hover, .root[data-is-touch="false"] .item__header > a:hover {
    text-decoration: none;
}

h2.item__header {
    margin-top: 0;
}
/* end custom scss snippet */
.image-custome-cover{
	width: 100%;
	border-radius: 8px;
	box-shadow: 1px 1px 10px 1px #e0e0e0;
	border-color: transparent;
}

.image-custome-cover:hover{
	opacity: 0.8;
}

.text.center{
	text-align: center;
}

.text.end{
	text-align: end;
}

.text.bold{
	font-weight: bold;
}

.text.italic{
	font-style: italic;
}

.width-50 {
	width: 50%;
}

.width-70 {
	width: 70%;
}

.br-5 {
	border-radius: 5px;
}

